POSTGRES_USER=spaceship
POSTGRES_PASSWORD=spaceship
POSTGRES_DB=spaceship
DATABASE_URL=postgresql://spaceship:spaceship@postgres:5432/spaceship

NODE_PORT=3001
PYTHON_PORT=3002
RAILS_PORT=3003
JAVA_PORT=3004
KOTLIN_PORT=3005
GO_PORT=3006
